<!doctype html>

<html>
<head>
  <title>TwitterLogin</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
</head>
<body class="city-background">
      <div class="container">
            <div class="row-fluid">
      <h3> Hello, {{userProfile.displayName}}! </h3>
    </div>
        <!-- <h3>Hello, {{userProfile.username}}</h3> -->
     </div>


        <!-- <p>ID: {{user.id}}</p> -->
        <!-- <p>Username: {{user.id}}</p> -->

      <form id="display" role="form" method="get" action="/statuses">
    <button type="submit" class="btn btn-info">Display Your Tweets!</button>
      </form>

      <div class="container">
        <div class="row">
            {{#each statuses}}
                  <p>User Tweets: {{text}}</p>
            {{/each}}
          </div>
      </div>





    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>
